* {
    padding: 0;
    margin: 0;
}
.contenedor {
    width: 100%;
    margin: auto;
}
.contenedor p {
    margin-bottom: 35px;
}
header nav {
    background: #55efc4;
    margin-bottom:10px;
    -webkit-transition: all ease .10s;
    -o-transition: all ease .10s;
    transition: all ease .10s;
}
header nav ul{
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    float: left;
    margin-left: 50px;
}
header nav ul li a{
    margin-top: 60px;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family:fantasy;
}
header nav ul li a:hover {
    background: #81ecec;
}
.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
    border-radius: 0px;
    margin-top: 0;
    /*padding: 15px 20px;*/
}

.imginicio{
    margin-top: 0;
}
.imginicio:hover{
    background: none;
}


p{
    font-size: 30px;
}