body {
    padding: 0;
    margin: 0;
    background-image: url('img/fondo.png');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor-main{
    width: 100%;
    max-width: 2000;
    margin: 0 auto;
    overflow: hidden;
}
.contenedor-body{
    padding: 15px;
}

.contenedor-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: linear-gradient(50deg, #81ecec, #00cec9);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
}
header nav {
    background: linear-gradient(90deg, #81ecec, #00cec9);
    margin-bottom:5px;
    overflow: hidden;
    -webkit-transition: all ease .20s;
    -o-transition: all ease .20s;
    transition: all ease .20s;
    z-index: 1;
}

.imagen{
    background-image: url('img/inicio.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 16%;
    width: 70%;
    box-sizing: border-box;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 35%;
    padding-right: 10%;
    
}
.texto-imagen{
    float: right;
    align-content: center;
    background-color: rgba(129,236 ,236 , .5);
    border-radius: 15px;
    padding: 5%;

}
.parrafoInicio{
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    font-size: 30px;
}

nav > a{
    padding: 2% 1%;
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-family: fantasy;
    color: white;
}
nav > a:hover
{
    background-color: #81ecec;
    color: #00cec9;
}
.menu-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);   
}
.menu-fixed a{
    font-size: 1.2em;
    padding: 1.4% 2.5%;

}
.menu-fixed figure img{
    width: 10%;
    height: 10%;
}
.imginicio img{ 
    width: 17%;
    height: 17%;
}
.cita p{
    text-align: center;
}
