@media (min-width: 1024px){
    .contenedor-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

figure{
    border-color: #00cec9;
    border-style: solid;
    margin: auto;
    border-radius: 15px;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.map {
    margin-left: 5em;
}

form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding-left: 7px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 15px;
}

input, textarea{
    border: 0;
    outline: none;
    width: 280px;
    
}

form p {
    font-size: 20px;
}

.field{
    border: solid 1px #ccc;
    padding: 15px;
}

.field:focus{
    border-color: #00cec9;
}

.center-content{
    text-align: center;
    margin-bottom: 1.2em;
}

@media screen and (max-width:800px) {

    .map{
        margin: 15% auto;
        overflow: hidden;
    }

    .formulario {
        margin-bottom: 5em;
    }

}